html, body{
    background-color: #18191f;
    color: white;
    font-size: 1.3rem;
}

.window-app {
    padding: 0.1em 1em 0.1em 1em;
}

h1 {
  align-content: center;  
}

.form-dark {
    background-color: #7a7a7a;
}

.label-dark {
    background-color: #18191f;
    color: white
}

.label-light {
    background-color: white;
    color: black
}

/*.dark-Mode {
    background-color: #18191f;
    color: white;
}*/

/*.window-darkMode {
    background-color: #18191f;
    color: white;
    font-size: 1.3rem;
    padding: 20px;
}*/